<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Responsive Layout</title>
	<!-- <link rel="stylesheet" href="normalize.css"> -->
	<link rel="stylesheet" href="layout.css">
</head>
<body>
	<div id="wrapper">

		<div id="header">
			<h1>Header</h1>
			<h2>Subtitle</h2>
		</div>
		<div id="nav">
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="">Contact Us</a></li>
				<li><a href="">Video</a></li>
				<li><a href="">Pricing</a></li>
				<li><a href="">Something</a></li>
				<li><a href="">Something more...</a></li>
				<li><a href="">Something even more...</a></li>
			<ul>
		</div>
		<div id="main">
			<div class="column">
				<h4>Coffee Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque bibendum felis eu vestibulum fringilla. Etiam vitae massa sit amet nisi tempus euismod eget vitae nibh. Quisque at arcu erat. Morbi blandit lacus ac feugiat bibendum. Nunc efficitur vel ante eu vehicula. Vestibulum lacinia et velit a facilisis. Maecenas vitae gravida velit. Sed hendrerit ullamcorper turpis et tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod turpis a elit blandit</p> tincidunt vel quis metus. Aenean eu viverra ante. Proin pharetra massa in enim laoreet lobortis. Pellentesque pulvinar vitae dui quis varius.</p>
			</div>
			<div class="column">
				<h4>Lorem Ipsum</h4>
				<p>Donec varius velit vitae mi finibus, eu feugiat risus ultrices. Maecenas a orci consectetur, rhoncus arcu ut, maximus massa. Donec nec varius mi, at euismod metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla congue, urna non rutrum molestie, lectus lectus cursus libero, ac mattis urna augue a justo. Mauris vitae augue dolor. Integer nec mi ac ipsum ultrices cursus sed eget elit. Aenean ac eros quam. Vestibulum ut nisi mauris.</p>
			</div>
			<div class="column">
				<h4>Baby Ipsum</h4>
				<p>Aenean odio dolor, mattis blandit nibh sed, egestas vulputate mi. Sed pulvinar sit amet risus id egestas. Etiam interdum quam at nulla placerat posuere. Aenean dapibus, justo pellentesque vulputate ornare, erat nunc eleifend neque, id tempus urna nisi quis nisi. Nulla porta orci ipsum, at tristique leo posuere eu. Aliquam vel facilisis nulla. Vestibulum eleifend lorem sit amet maximus commodo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean id ligula vel lectus suscipit sodales eu vel eros. Quisque efficitur a magna at semper.</p>
			</div>
			<div class="column zombie">
				<h4>Zombie Ipsum</h4>
				<p>Cras quis orci dignissim, tempus augue id, sagittis dui. Fusce mi diam, volutpat nec magna quis, semper tempus eros. Sed ullamcorper lectus eu risus sodales fermentum. Mauris vitae auctor magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus malesuada, orci at condimentum elementum, purus orci ultricies risus, vel auctor orci orci et nisl. Nullam at justo tempor, porta sem sit amet, ultricies diam. Donec tristique sapien sapien, non venenatis elit vehicula vel. Nulla euismod ac libero ut interdum. Fusce vitae libero at quam semper varius nec vel ligula. Etiam vitae nunc lacus. Vestibulum quam quam, laoreet ac massa vehicula, ornare feugiat mauris.</p>
			</div>
		</div>
	</div>
</body>
</html>
