/*CSS reset settings here*/
*{
 margin: 0px auto;
 padding: 0px;
 width: 600px;
}
table, th, td{
  /*width: 200px;*/
  padding: 10px;
  border: 2px solid black;
  border-collapse: collapse;
}
h2{
  margin: 20px 0px;
}
input{
  display: inline;
  width: 150px;
  height: 25px;
  margin: 5px;
  border: 1px solid grey;
  /*text-align: center;*/
}
p#firstname{
  margin-left: 23px;
}
p#lastname{
  margin-left: 25px;
}
p#phone{
  margin-left: 32px;
}
button{
  margin: 10px 0px;
  width: 260px;
  height: 30px;
}
